@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-utilities";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/pagination";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

body {
  height: 100vh;
  background-color: midnightblue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
